 .main{
    background-image: url(/src/components/images/SanoMed.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 


.containerhome{
    display:flex;
    justify-content: space-around;
}

.siteTitle{
    padding:100px;
    font-size: 35px;;
}